* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px;
}

@font-face {
  font-family: GillSansReg;
  src: url(fonts/GillSans.ttf);
}
@font-face {
  font-family: ProximaNova;
  src: url(fonts/ProximaNova.ttf);
}
/*Add any fonts on this structure page. Refer to previous projects on how to do this.*/
.navwrapper {
  min-height: 92px;
  width: 100%;
  position: fixed;
}
.navwrapper nav {
  max-width: 980px;
  height: 92px;
  margin: 0 auto;
  border-bottom: solid 2px white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navwrapper nav .logo {
  position: relative;
  width: 92px;
  height: 42px;
  border: 2px solid white;
}
.navwrapper nav .logo span {
  position: absolute;
  bottom: -5px;
  color: white;
  font-size: 20px;
  font-family: GillSansReg;
  letter-spacing: 1.3px;
}
.navwrapper nav .links {
  width: 350px;
  display: flex;
  justify-content: space-around;
}
.navwrapper nav .links a {
  text-decoration: none;
  color: white;
  font-family: GillSansReg;
  letter-spacing: 2px;
  font-size: 15px;
  padding: 0px 15px;
  white-space: nowrap;
}
.navwrapper nav .links span {
  color: #79ADDC;
}

@media only all and (max-width: 1140px) {
  .navwrapper nav {
    padding: 0 30px;
    height: 120px;
  }
  .navwrapper nav .links {
    display: block;
  }
}
@media only all and (max-width: 800px) {
  .navwrapper nav {
    padding: 0 10px;
    height: 120px;
  }
  .navwrapper nav .links {
    display: block;
  }
}
footer {
  min-height: 100px;
  background-color: #79ADDC;
  align-items: center;
  justify-content: center;
  display: flex;
}
footer .logo2 {
  border: 2px solid white;
  width: 92px;
  height: 42px;
  margin: 0 auto;
}
footer .logo2 span {
  color: white;
  font-size: 20px;
  font-family: GillSansReg;
  letter-spacing: 1.3px;
  position: relative;
  bottom: -20px;
}
footer .socials {
  height: 25px;
  width: 120px;
  display: flex;
  margin: auto;
  justify-content: space-evenly;
}
footer img {
  width: 22px;
  height: 22px;
}
footer .copywrite {
  color: white;
  text-align: center;
}

@media (max-width: 1140px) {
  footer {
    height: 200px;
    display: block;
  }
  footer .logo2 {
    margin-bottom: 40px;
  }
  footer .socials {
    margin-bottom: 40px;
  }
  footer .copywrite {
    margin-bottom: 40px;
  }
}
.navwrapper3 {
  min-height: 92px;
  width: 100%;
  position: fixed;
  z-index: 2;
}
.navwrapper3 nav {
  max-width: 980px;
  height: 92px;
  margin: 0 auto;
  border-bottom: solid 2px black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navwrapper3 nav .logo3 {
  position: relative;
  width: 92px;
  height: 42px;
  border: 2px solid black;
}
.navwrapper3 nav .logo3 span {
  position: absolute;
  bottom: -5px;
  color: black;
  font-size: 20px;
  font-family: GillSansReg;
  letter-spacing: 1.3px;
}
.navwrapper3 nav .links3 {
  width: 350px;
  display: flex;
  justify-content: space-around;
}
.navwrapper3 nav .links3 a {
  text-decoration: none;
  color: black;
  font-family: GillSansReg;
  letter-spacing: 2px;
  font-size: 15px;
  padding: 0px 15px;
  white-space: nowrap;
}
.navwrapper3 nav .links3 span {
  color: #79ADDC;
}

@media only all and (max-width: 1140px) {
  .navwrapper3 nav {
    padding: 0 30px;
    height: 120px;
  }
  .navwrapper3 nav .links3 {
    display: block;
  }
}
@media only all and (max-width: 800px) {
  .navwrapper nav {
    padding: 0 10px;
    height: 120px;
  }
  .navwrapper nav .links {
    display: block;
  }
}
.hero {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/hero.jpg);
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero a {
  text-decoration: none;
}
.hero .centered-content {
  width: 400px;
  text-align: center;
}
.hero .centered-content .header {
  font-family: ProximaNova;
  font-size: 60px;
  letter-spacing: 1.5px;
  font-weight: normal;
  color: white;
  padding-bottom: 40px;
  margin-top: 60px;
}
.hero .centered-content .undertext {
  font-family: GillSansReg;
  font-style: italic;
  font-size: 20px;
  color: white;
  padding-bottom: 40px;
}
.hero .centered-content .button {
  background-color: #79ADDC;
  font-size: 15px;
  font-family: GillSansReg;
  color: white;
  height: 40px;
  width: 122px;
  margin: 0 auto;
  padding: 10px 0;
  text-decoration: none;
}

.homeimages {
  min-height: 304px;
  max-width: 818px;
  margin: -42px auto 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  text-align: center;
  color: white;
}
.homeimages a {
  text-decoration: none;
}
.homeimages div {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.homeimages h1 {
  margin-top: 60px;
  font-family: ProximaNova;
  font-size: 60px;
  letter-spacing: 1.5;
  font-weight: normal;
}
.homeimages p {
  font-family: ProximaNova;
  font-size: 30px;
  margin-top: -20px;
  margin-bottom: 60px;
}
.homeimages .imageOne {
  height: 304px;
  min-width: 236px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour/tour-01.jpg);
}
.homeimages .imageOne .imagebutton {
  width: 133px;
  height: 40px;
  background-color: #79ADDC;
  font-family: GillSansReg;
  color: white;
  margin: 0 auto;
  padding: 10px 0;
  border-radius: 20px;
  text-decoration: none;
}
.homeimages .imageTwo {
  height: 304px;
  min-width: 236px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour/tour-02.jpg);
}
.homeimages .imageTwo .imagebutton {
  width: 133px;
  height: 40px;
  background-color: #79ADDC;
  font-family: GillSansReg;
  color: white;
  margin: 0 auto;
  padding: 10px 0;
  border-radius: 20px;
}
.homeimages .imageThree {
  height: 304px;
  min-width: 236px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour/tour-03.jpg);
}
.homeimages .imageThree .imagebutton {
  width: 133px;
  height: 40px;
  background-color: #79ADDC;
  font-family: GillSansReg;
  color: white;
  margin: 0 auto;
  padding: 10px 0;
  border-radius: 20px;
}

@media (max-width: 825px) {
  .homeimages {
    flex-wrap: wrap;
  }

  .homeimages div {
    width: 150px;
    margin: 0 auto 40px auto;
  }
}
.formsection {
  max-width: 818px;
  margin: 0 auto;
  min-height: 771px;
}
.formsection h1 {
  font-family: ProximaNova;
  font-size: 60px;
  font-weight: normal;
  margin-bottom: 30px;
}
.formsection input {
  border: 1px solid #79ADDC;
  font-family: GillSansReg;
  font-size: 18px;
  font-weight: lighter;
}
.formsection p {
  font-family: GillSansReg;
  font-size: 18px;
  font-weight: lighter;
  margin-top: 15px;
  white-space: nowrap;
}
.formsection .rowOne {
  display: flex;
  justify-content: space-between;
}
.formsection .rowOne .input-wrapper1 {
  height: 58px;
  width: 42%;
  margin-bottom: 20px;
}
.formsection .rowOne .input-wrapper1 .text-field {
  width: 100%;
  padding: 10px;
  outline: none;
  box-sizing: border-box;
}
.formsection .rowOne .input-wrapper2 {
  height: 58px;
  width: 55%;
  margin-bottom: 20px;
}
.formsection .rowOne .input-wrapper2 .text-field2 {
  width: 100%;
  padding: 10px;
  outline: none;
  box-sizing: border-box;
}
.formsection .rowTwo {
  display: flex;
  justify-content: space-between;
}
.formsection .rowTwo .input-wrapper3 {
  height: 58px;
  width: 42%;
  margin-bottom: 20px;
}
.formsection .rowTwo .text-field3 {
  width: 100%;
  padding: 10px;
  outline: none;
  box-sizing: border-box;
}
.formsection .rowTwo .input-wrapper4 {
  height: 58px;
  width: 55%;
  margin-bottom: 20px;
}
.formsection .rowTwo .input-wrapper4 .text-field4 {
  width: 100%;
  padding: 10px;
  outline: none;
  box-sizing: border-box;
}
.formsection .rowThree {
  display: flex;
  justify-content: space-between;
}
.formsection .rowThree .input-wrapper5 {
  height: 58px;
  width: 85%;
  margin-bottom: 20px;
  position: relative;
}
.formsection .rowThree .input-wrapper5 .text-field5 {
  width: 100%;
  padding: 10px;
  outline: none;
  box-sizing: border-box;
}
.formsection .rowThree .input-wrapper5 .icon1 {
  position: absolute;
  right: 20px;
  top: 11px;
  font-size: 20px;
}
.formsection .rowFour {
  display: flex;
  justify-content: space-between;
}
.formsection .rowFour .input-wrapper6 {
  height: 58px;
  width: 85%;
  margin-bottom: 20px;
  position: relative;
}
.formsection .rowFour .input-wrapper6 .text-field6 {
  width: 100%;
  padding: 10px;
  outline: none;
  box-sizing: border-box;
}
.formsection .rowFour .input-wrapper6 .icon3 {
  position: absolute;
  right: 20px;
  top: 11px;
  font-size: 20px;
}
.formsection .rowFive {
  display: flex;
  justify-content: space-evenly;
}
.formsection .rowFive .input-wrapper7 {
  height: 58px;
  width: 12.6%;
  margin-bottom: 20px;
  position: relative;
}
.formsection .rowFive .input-wrapper7 .text-field7 {
  width: 100%;
  padding: 10px;
  outline: none;
  box-sizing: border-box;
}
.formsection .rowFive .input-wrapper7 .icon2 {
  position: absolute;
  right: 20px;
  top: 11px;
  font-size: 20px;
}
.formsection .rowSix {
  display: flex;
  justify-content: space-between;
}
.formsection .rowSix .input-wrapper8 {
  height: 192px;
  width: 100%;
  margin-bottom: 20px;
}
.formsection .rowSix .text-field8 {
  width: 100%;
  height: 192px;
  padding-bottom: 140px;
  outline: none;
  box-sizing: border-box;
  text-indent: 10px;
}
.formsection .rowSeven .button2 {
  max-width: 813px;
  height: 60px;
  background-color: #79ADDC;
  font-family: GillSansReg;
  color: white;
  font-size: 15px;
  margin: 0 auto;
  padding: 20px 0;
  border-radius: 20px;
  text-align: center;
}
.formsection .rowEight {
  height: 120px;
}

@media (max-width: 820px) {
  .formsection h1 {
    text-align: center;
  }
  .formsection .rowSeven .button2 {
    width: 400px;
  }
}
.whitespace {
  height: 200px;
}

.aboutsection {
  max-width: 981px;
  min-height: 212px;
  margin: 0 auto;
  margin-bottom: 110px;
}
.aboutsection .aboutheader {
  font-size: 60px;
  position: relative;
  display: inline;
  font-family: ProximaNova;
  letter-spacing: 7px;
}
.aboutsection .aboutheader .about-header-border {
  border-bottom: 2px solid black;
  width: 70%;
  position: absolute;
  left: 0;
  bottom: -2px;
}
.aboutsection p {
  font-family: GillSansReg;
  font-size: 16px;
  font-style: italic;
  margin-top: 35px;
  letter-spacing: 1px;
}

.clientquotes {
  min-height: 588px;
  max-width: 780px;
  margin: 0 auto;
}
.clientquotes .clientheader {
  font-size: 40px;
  position: relative;
  display: inline;
  font-family: ProximaNova;
  letter-spacing: 3.5px;
}
.clientquotes .clientheader .client-header-border {
  border-bottom: 2px solid black;
  width: 70%;
  position: absolute;
  left: 0;
  bottom: -2px;
}
.clientquotes .personone {
  min-width: 500px;
  min-height: 150px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  margin-top: 40px;
  position: relative;
}
.clientquotes .personone .girlimage {
  min-width: 260px;
  height: 150px;
  background-image: url(../images/about-client-01.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.clientquotes .personone .paragraph {
  width: 385px;
  height: 102px;
  font-family: GillSansReg;
  font-size: 16px;
  font-style: italic;
  letter-spacing: 2px;
}
.clientquotes .personone .signature {
  font-family: ProximaNova;
  color: #79ADDC;
  font-size: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.clientquotes .persontwo {
  min-width: 500px;
  min-height: 150px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  position: relative;
}
.clientquotes .persontwo .boyimage {
  min-width: 260px;
  height: 150px;
  background-image: url(../images/about-client-02.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.clientquotes .persontwo .paragraph {
  width: 385px;
  height: 102px;
  font-family: GillSansReg;
  font-size: 16px;
  font-style: italic;
  letter-spacing: 2px;
}
.clientquotes .persontwo .signature {
  font-family: ProximaNova;
  color: #79ADDC;
  font-size: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
}

@media (max-width: 987px) {
  .aboutsection {
    flex-wrap: wrap;
    padding: 0 20px;
  }

  .clientquotes .clientquotes div {
    margin: 0 auto 40px auto;
    width: 500px;
  }
  .clientquotes .clientheader {
    margin-left: 20px;
  }
  .clientquotes .personone {
    flex-wrap: wrap;
    height: 400px;
    padding: 0 20px;
  }
  .clientquotes .personone .signature {
    padding: 0 20px;
  }
  .clientquotes .persontwo {
    flex-wrap: wrap;
    height: 400px;
    padding: 0 20px;
  }
  .clientquotes .persontwo .signature {
    padding: 0 20px;
  }
}
.emptyspace {
  height: 142px;
}

.tourtitle {
  height: 200px;
  max-width: 981px;
  margin: 0 auto;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour/tours-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.tourtitle .TourTitle {
  color: white;
  font-family: ProximaNova;
  font-size: 60px;
  letter-spacing: 3.5px;
  font-weight: lighter;
  text-align: center;
  padding: 70px 0;
}

.rowUno {
  min-height: 304px;
  max-width: 818px;
  margin: 50px auto 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  text-align: center;
  color: white;
}
.rowUno a {
  text-decoration: none;
}
.rowUno div {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.rowUno h1 {
  margin-top: 60px;
  font-family: ProximaNova;
  font-size: 60px;
  letter-spacing: 1.5;
  font-weight: normal;
}
.rowUno p {
  font-family: ProximaNova;
  font-size: 30px;
  margin-top: -20px;
  margin-bottom: 60px;
}
.rowUno .imageOne {
  height: 304px;
  min-width: 236px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour/tour-01.jpg);
}
.rowUno .imageOne .imagebutton {
  width: 133px;
  height: 40px;
  background-color: #79ADDC;
  font-family: GillSansReg;
  color: white;
  margin: 0 auto;
  padding: 10px 0;
  border-radius: 20px;
  text-decoration: none;
}
.rowUno .imageTwo {
  height: 304px;
  min-width: 236px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour/tour-02.jpg);
}
.rowUno .imageTwo .imagebutton {
  width: 133px;
  height: 40px;
  background-color: #79ADDC;
  font-family: GillSansReg;
  color: white;
  margin: 0 auto;
  padding: 10px 0;
  border-radius: 20px;
  text-decoration: none;
}
.rowUno .imageThree {
  height: 304px;
  min-width: 236px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour/tour-03.jpg);
}
.rowUno .imageThree .imagebutton {
  width: 133px;
  height: 40px;
  background-color: #79ADDC;
  font-family: GillSansReg;
  color: white;
  margin: 0 auto;
  padding: 10px 0;
  border-radius: 20px;
  text-decoration: none;
}

.rowDos {
  min-height: 304px;
  max-width: 818px;
  margin: 50px auto 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  text-align: center;
  color: white;
  text-decoration: none;
}
.rowDos a {
  text-decoration: none;
}
.rowDos div {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.rowDos h1 {
  margin-top: 60px;
  font-family: ProximaNova;
  font-size: 60px;
  letter-spacing: 1.5;
  font-weight: normal;
}
.rowDos p {
  font-family: ProximaNova;
  font-size: 30px;
  margin-top: -20px;
  margin-bottom: 60px;
}
.rowDos .imageOne {
  height: 304px;
  min-width: 236px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour/tour-04.jpg);
}
.rowDos .imageOne .imagebutton {
  width: 133px;
  height: 40px;
  background-color: #79ADDC;
  font-family: GillSansReg;
  color: white;
  margin: 0 auto;
  padding: 10px 0;
  border-radius: 20px;
}
.rowDos .imageTwo {
  height: 304px;
  min-width: 236px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour/tour-05.jpg);
}
.rowDos .imageTwo .imagebutton {
  width: 133px;
  height: 40px;
  background-color: #79ADDC;
  font-family: GillSansReg;
  color: white;
  margin: 0 auto;
  padding: 10px 0;
  border-radius: 20px;
}
.rowDos .imageThree {
  height: 304px;
  min-width: 236px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour/tour-06.jpg);
}
.rowDos .imageThree .imagebutton {
  width: 133px;
  height: 40px;
  background-color: #79ADDC;
  font-family: GillSansReg;
  color: white;
  margin: 0 auto;
  padding: 10px 0;
  border-radius: 20px;
}

.rowTres {
  min-height: 304px;
  max-width: 818px;
  margin: 50px auto 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  text-align: center;
  color: white;
  text-decoration: none;
}
.rowTres a {
  text-decoration: none;
}
.rowTres div {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.rowTres h1 {
  margin-top: 60px;
  font-family: ProximaNova;
  font-size: 60px;
  letter-spacing: 1.5;
  font-weight: normal;
}
.rowTres p {
  font-family: ProximaNova;
  font-size: 30px;
  margin-top: -20px;
  margin-bottom: 60px;
}
.rowTres .imageOne {
  height: 304px;
  min-width: 236px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour/tour-07.jpg);
}
.rowTres .imageOne .imagebutton {
  width: 133px;
  height: 40px;
  background-color: #79ADDC;
  font-family: GillSansReg;
  color: white;
  margin: 0 auto;
  padding: 10px 0;
  border-radius: 20px;
}
.rowTres .imageTwo {
  height: 304px;
  min-width: 236px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour/tour-08.jpg);
}
.rowTres .imageTwo .imagebutton {
  width: 133px;
  height: 40px;
  background-color: #79ADDC;
  font-family: GillSansReg;
  color: white;
  margin: 0 auto;
  padding: 10px 0;
  border-radius: 20px;
}
.rowTres .imageThree {
  height: 304px;
  min-width: 236px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour/tour-09.jpg);
}
.rowTres .imageThree .imagebutton {
  width: 133px;
  height: 40px;
  background-color: #79ADDC;
  font-family: GillSansReg;
  color: white;
  margin: 0 auto;
  padding: 10px 0;
  border-radius: 20px;
}

@media (max-width: 750px) {
  .rowUno {
    flex-wrap: wrap;
    margin-bottom: 0;
  }

  .rowUno div {
    width: 150px;
    margin: 0 auto 40px auto;
  }

  .rowDos {
    flex-wrap: wrap;
    margin-bottom: 0;
  }

  .rowDos div {
    width: 150px;
    margin: 0 auto 40px auto;
  }

  .rowTres {
    flex-wrap: wrap;
    margin-bottom: 0;
  }

  .rowTres div {
    width: 150px;
    margin: 0 auto 40px auto;
  }
}
.tour1header {
  height: 413px;
  max-width: 981px;
  margin: 0 auto;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/tour/tour-01.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.tour1header h1 {
  font-family: ProximaNova;
  font-size: 80px;
  color: white;
  font-weight: normal;
  position: absolute;
  top: 40px;
  left: 40px;
  letter-spacing: 2px;
}
.tour1header h2 {
  font-family: ProximaNova;
  font-size: 30px;
  color: white;
  font-weight: normal;
  position: absolute;
  bottom: 0px;
  right: 40px;
  letter-spacing: 1.3px;
}

.tour1row {
  min-height: 304px;
  max-width: 981px;
  margin: 50px auto 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
.tour1row div {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.tour1row .tour1imageOne {
  height: 350px;
  min-width: 300px;
  background-image: url(../images/tour/tour-israel/israel-tour-01.jpg);
}
.tour1row .tour1imageTwo {
  height: 350px;
  min-width: 300px;
  background-image: url(../images/tour/tour-israel/israel-tour-02.jpg);
}
.tour1row .tour1imageThree {
  height: 350px;
  min-width: 300px;
  background-image: url(../images/tour/tour-israel/israel-tour-03.jpg);
}

.infoandbutton {
  min-height: 259px;
  max-width: 981px;
  margin: 0 auto;
}
.infoandbutton .tour1title {
  font-family: ProximaNova;
  font-size: 60px;
  font-weight: normal;
  position: relative;
  display: inline;
}
.infoandbutton .tour1title .bannertest {
  border-bottom: 2px solid black;
  width: 70%;
  position: absolute;
  left: 0;
  bottom: -2px;
}
.infoandbutton p {
  font-family: GillSans;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 1.8px;
  margin-bottom: 90px;
  margin-top: 40px;
}

.booknow {
  height: 120px;
  max-width: 981px;
  margin: 0 auto;
}
.booknow .bookbutton {
  width: 133px;
  height: 40px;
  background-color: #79ADDC;
  font-family: GillSansReg;
  color: white;
  padding: 10px 0;
  border-radius: 20px;
  text-align: center;
  margin: 40px auto;
}

@media (max-width: 930px) {
  .tour1row {
    flex-wrap: wrap;
  }

  .tour1row div {
    width: 150px;
    margin: 0 auto 40px auto;
  }

  .infoandbutton {
    padding: 0 30px;
  }
}
.tour2header {
  height: 413px;
  max-width: 981px;
  margin: 0 auto;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/tour/tour-02.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.tour2header h1 {
  font-family: ProximaNova;
  font-size: 80px;
  color: white;
  font-weight: normal;
  position: absolute;
  top: 40px;
  left: 40px;
  letter-spacing: 2px;
}
.tour2header h2 {
  font-family: ProximaNova;
  font-size: 30px;
  color: white;
  font-weight: normal;
  position: absolute;
  bottom: 0px;
  right: 40px;
  letter-spacing: 1.3px;
}

.tour2row {
  min-height: 304px;
  max-width: 981px;
  margin: 50px auto 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
.tour2row div {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.tour2row .tour2imageOne {
  height: 350px;
  min-width: 300px;
  background-image: url(../images/tour/tour-usa/usa-tour-01.jpg);
}
.tour2row .tour2imageTwo {
  height: 350px;
  min-width: 300px;
  background-image: url(../images/tour/tour-usa/usa-tour-02.jpg);
}
.tour2row .tour2imageThree {
  height: 350px;
  min-width: 300px;
  background-image: url(../images/tour/tour-usa/usa-tour-03.jpg);
}

.infoandbutton {
  min-height: 259px;
  max-width: 981px;
  margin: 0 auto;
}
.infoandbutton .tour1title {
  font-family: ProximaNova;
  font-size: 60px;
  font-weight: normal;
  position: relative;
  display: inline;
}
.infoandbutton .tour1title .bannertest {
  border-bottom: 2px solid black;
  width: 70%;
  position: absolute;
  left: 0;
  bottom: -2px;
}
.infoandbutton p {
  font-family: GillSans;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 1.8px;
  margin-bottom: 90px;
  margin-top: 40px;
}

@media (max-width: 930px) {
  .tour2row {
    flex-wrap: wrap;
  }

  .tour2row div {
    width: 150px;
    margin: 0 auto 40px auto;
  }
}
.tour3header {
  height: 413px;
  max-width: 981px;
  margin: 0 auto;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/tour/tour-03.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.tour3header h1 {
  font-family: ProximaNova;
  font-size: 80px;
  color: white;
  font-weight: normal;
  position: absolute;
  top: 40px;
  left: 40px;
  letter-spacing: 2px;
}
.tour3header h2 {
  font-family: ProximaNova;
  font-size: 30px;
  color: white;
  font-weight: normal;
  position: absolute;
  bottom: 0px;
  right: 40px;
  letter-spacing: 1.3px;
}

.tour3row {
  min-height: 304px;
  max-width: 981px;
  margin: 50px auto 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
.tour3row div {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.tour3row .tour3imageOne {
  height: 350px;
  min-width: 300px;
  background-image: url(../images/tour/tour-aus/aus-tour-01.jpg);
}
.tour3row .tour3imageTwo {
  height: 350px;
  min-width: 300px;
  background-image: url(../images/tour/tour-aus/aus-tour-02.jpg);
}
.tour3row .tour3imageThree {
  height: 350px;
  min-width: 300px;
  background-image: url(../images/tour/tour-aus/aus-tour-03.jpg);
}

.infoandbutton {
  min-height: 259px;
  max-width: 981px;
  margin: 0 auto;
}
.infoandbutton .tour1title {
  font-family: ProximaNova;
  font-size: 60px;
  font-weight: normal;
  position: relative;
  display: inline;
}
.infoandbutton .tour1title .bannertest {
  border-bottom: 2px solid black;
  width: 70%;
  position: absolute;
  left: 0;
  bottom: -2px;
}
.infoandbutton p {
  font-family: GillSans;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 1.8px;
  margin-bottom: 90px;
  margin-top: 40px;
}

@media (max-width: 930px) {
  .tour3row {
    flex-wrap: wrap;
  }

  .tour3row div {
    width: 150px;
    margin: 0 auto 40px auto;
  }
}
.tour4header {
  height: 413px;
  max-width: 981px;
  margin: 0 auto;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/tour/tour-04.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.tour4header h1 {
  font-family: ProximaNova;
  font-size: 80px;
  color: white;
  font-weight: normal;
  position: absolute;
  top: 40px;
  left: 40px;
  letter-spacing: 2px;
}
.tour4header h2 {
  font-family: ProximaNova;
  font-size: 30px;
  color: white;
  font-weight: normal;
  position: absolute;
  bottom: 0px;
  right: 40px;
  letter-spacing: 1.3px;
}

.tour4row {
  min-height: 304px;
  max-width: 981px;
  margin: 50px auto 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
.tour4row div {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.tour4row .tour4imageOne {
  height: 350px;
  min-width: 300px;
  background-image: url(../images/tour/tour-nz/nz-tour-01.jpg);
}
.tour4row .tour4imageTwo {
  height: 350px;
  min-width: 300px;
  background-image: url(../images/tour/tour-nz/nz-tour-02.jpg);
}
.tour4row .tour4imageThree {
  height: 350px;
  min-width: 300px;
  background-image: url(../images/tour/tour-nz/nz-tour-03.jpg);
}

.infoandbutton {
  min-height: 259px;
  max-width: 981px;
  margin: 0 auto;
}
.infoandbutton .tour1title {
  font-family: ProximaNova;
  font-size: 60px;
  font-weight: normal;
  position: relative;
  display: inline;
}
.infoandbutton .tour1title .bannertest {
  border-bottom: 2px solid black;
  width: 70%;
  position: absolute;
  left: 0;
  bottom: -2px;
}
.infoandbutton p {
  font-family: GillSans;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 1.8px;
  margin-bottom: 90px;
  margin-top: 40px;
}

@media (max-width: 930px) {
  .tour4row {
    flex-wrap: wrap;
  }

  .tour4row div {
    width: 150px;
    margin: 0 auto 40px auto;
  }
}
.tour5header {
  height: 413px;
  max-width: 981px;
  margin: 0 auto;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/tour/tour-05.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.tour5header h1 {
  font-family: ProximaNova;
  font-size: 80px;
  color: white;
  font-weight: normal;
  position: absolute;
  top: 40px;
  left: 40px;
  letter-spacing: 2px;
}
.tour5header h2 {
  font-family: ProximaNova;
  font-size: 30px;
  color: white;
  font-weight: normal;
  position: absolute;
  bottom: 0px;
  right: 40px;
  letter-spacing: 1.3px;
}

.tour5row {
  min-height: 304px;
  max-width: 981px;
  margin: 50px auto 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
.tour5row div {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.tour5row .tour5imageOne {
  height: 350px;
  min-width: 300px;
  background-image: url(../images/tour/tour-egypt/egypt-tour-01.jpg);
}
.tour5row .tour5imageTwo {
  height: 350px;
  min-width: 300px;
  background-image: url(../images/tour/tour-egypt/egypt-tour-02.jpg);
}
.tour5row .tour5imageThree {
  height: 350px;
  min-width: 300px;
  background-image: url(../images/tour/tour-egypt/egypt-tour-03.jpg);
}

.infoandbutton {
  min-height: 259px;
  max-width: 981px;
  margin: 0 auto;
}
.infoandbutton .tour1title {
  font-family: ProximaNova;
  font-size: 60px;
  font-weight: normal;
  position: relative;
  display: inline;
}
.infoandbutton .tour1title .bannertest {
  border-bottom: 2px solid black;
  width: 70%;
  position: absolute;
  left: 0;
  bottom: -2px;
}
.infoandbutton p {
  font-family: GillSans;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 1.8px;
  margin-bottom: 90px;
  margin-top: 40px;
}

@media (max-width: 930px) {
  .tour5row {
    flex-wrap: wrap;
  }

  .tour5row div {
    width: 150px;
    margin: 0 auto 40px auto;
  }
}
.tour6header {
  height: 413px;
  max-width: 981px;
  margin: 0 auto;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/tour/tour-06.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.tour6header h1 {
  font-family: ProximaNova;
  font-size: 80px;
  color: white;
  font-weight: normal;
  position: absolute;
  top: 40px;
  left: 40px;
  letter-spacing: 2px;
}
.tour6header h2 {
  font-family: ProximaNova;
  font-size: 30px;
  color: white;
  font-weight: normal;
  position: absolute;
  bottom: 0px;
  right: 40px;
  letter-spacing: 1.3px;
}

.tour6row {
  min-height: 304px;
  max-width: 981px;
  margin: 50px auto 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
.tour6row div {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.tour6row .tour6imageOne {
  height: 350px;
  min-width: 300px;
  background-image: url(../images/tour/tour-egypt/egypt-tour-01.jpg);
}
.tour6row .tour6imageTwo {
  height: 350px;
  min-width: 300px;
  background-image: url(../images/tour/tour-egypt/egypt-tour-02.jpg);
}
.tour6row .tour6imageThree {
  height: 350px;
  min-width: 300px;
  background-image: url(../images/tour/tour-egypt/egypt-tour-03.jpg);
}

.infoandbutton {
  min-height: 259px;
  max-width: 981px;
  margin: 0 auto;
}
.infoandbutton .tour1title {
  font-family: ProximaNova;
  font-size: 60px;
  font-weight: normal;
  position: relative;
  display: inline;
}
.infoandbutton .tour1title .bannertest {
  border-bottom: 2px solid black;
  width: 70%;
  position: absolute;
  left: 0;
  bottom: -2px;
}
.infoandbutton p {
  font-family: GillSans;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 1.8px;
  margin-bottom: 90px;
  margin-top: 40px;
}

@media (max-width: 930px) {
  .tour6row {
    flex-wrap: wrap;
  }

  .tour6row div {
    width: 150px;
    margin: 0 auto 40px auto;
  }
}
.tour7header {
  height: 413px;
  max-width: 981px;
  margin: 0 auto;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/tour/tour-07.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.tour7header h1 {
  font-family: ProximaNova;
  font-size: 80px;
  color: white;
  font-weight: normal;
  position: absolute;
  top: 40px;
  left: 40px;
  letter-spacing: 2px;
}
.tour7header h2 {
  font-family: ProximaNova;
  font-size: 30px;
  color: white;
  font-weight: normal;
  position: absolute;
  bottom: 0px;
  right: 40px;
  letter-spacing: 1.3px;
}

.tour7row {
  min-height: 304px;
  max-width: 981px;
  margin: 50px auto 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
.tour7row div {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.tour7row .tour7imageOne {
  height: 350px;
  min-width: 300px;
  background-image: url(../images/tour/tour-japan/japan-tour-01.jpg);
}
.tour7row .tour7imageTwo {
  height: 350px;
  min-width: 300px;
  background-image: url(../images/tour/tour-japan/japan-tour-02.jpg);
}
.tour7row .tour7imageThree {
  height: 350px;
  min-width: 300px;
  background-image: url(../images/tour/tour-japan/japan-tour-03.jpg);
}

.infoandbutton {
  min-height: 259px;
  max-width: 981px;
  margin: 0 auto;
}
.infoandbutton .tour1title {
  font-family: ProximaNova;
  font-size: 60px;
  font-weight: normal;
  position: relative;
  display: inline;
}
.infoandbutton .tour1title .bannertest {
  border-bottom: 2px solid black;
  width: 70%;
  position: absolute;
  left: 0;
  bottom: -2px;
}
.infoandbutton p {
  font-family: GillSans;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 1.8px;
  margin-bottom: 90px;
  margin-top: 40px;
}

@media (max-width: 930px) {
  .tour7row {
    flex-wrap: wrap;
  }

  .tour7row div {
    width: 150px;
    margin: 0 auto 40px auto;
  }
}
.tour8header {
  height: 413px;
  max-width: 981px;
  margin: 0 auto;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/tour/tour-08.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.tour8header h1 {
  font-family: ProximaNova;
  font-size: 80px;
  color: white;
  font-weight: normal;
  position: absolute;
  top: 40px;
  left: 40px;
  letter-spacing: 2px;
}
.tour8header h2 {
  font-family: ProximaNova;
  font-size: 30px;
  color: white;
  font-weight: normal;
  position: absolute;
  bottom: 0px;
  right: 40px;
  letter-spacing: 1.3px;
}

.tour8row {
  min-height: 304px;
  max-width: 981px;
  margin: 50px auto 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
.tour8row div {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.tour8row .tour8imageOne {
  height: 350px;
  min-width: 300px;
  background-image: url(../images/tour/tour-canada/canada-tour-01.jpg);
}
.tour8row .tour8imageTwo {
  height: 350px;
  min-width: 300px;
  background-image: url(../images/tour/tour-canada/canada-tour-02.jpg);
}
.tour8row .tour8imageThree {
  height: 350px;
  min-width: 300px;
  background-image: url(../images/tour/tour-canada/canada-tour-03.jpg);
}

.infoandbutton {
  min-height: 259px;
  max-width: 981px;
  margin: 0 auto;
}
.infoandbutton .tour1title {
  font-family: ProximaNova;
  font-size: 60px;
  font-weight: normal;
  position: relative;
  display: inline;
}
.infoandbutton .tour1title .bannertest {
  border-bottom: 2px solid black;
  width: 70%;
  position: absolute;
  left: 0;
  bottom: -2px;
}
.infoandbutton p {
  font-family: GillSans;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 1.8px;
  margin-bottom: 90px;
  margin-top: 40px;
}

@media (max-width: 930px) {
  .tour8row {
    flex-wrap: wrap;
  }

  .tour8row div {
    width: 150px;
    margin: 0 auto 40px auto;
  }
}
.tour9header {
  height: 413px;
  max-width: 981px;
  margin: 0 auto;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/tour/tour-09.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.tour9header h1 {
  font-family: ProximaNova;
  font-size: 80px;
  color: white;
  font-weight: normal;
  position: absolute;
  top: 40px;
  left: 40px;
  letter-spacing: 2px;
}
.tour9header h2 {
  font-family: ProximaNova;
  font-size: 30px;
  color: white;
  font-weight: normal;
  position: absolute;
  bottom: 0px;
  right: 40px;
  letter-spacing: 1.3px;
}

.tour9row {
  min-height: 304px;
  max-width: 981px;
  margin: 50px auto 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
.tour9row div {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.tour9row .tour9imageOne {
  height: 350px;
  min-width: 300px;
  background-image: url(../images/tour/tour-uae/uae-tour-01.jpg);
}
.tour9row .tour9imageTwo {
  height: 350px;
  min-width: 300px;
  background-image: url(../images/tour/tour-uae/uae-tour-02.jpg);
}
.tour9row .tour9imageThree {
  height: 350px;
  min-width: 300px;
  background-image: url(../images/tour/tour-uae/uae-tour-03.jpg);
}

.infoandbutton {
  min-height: 259px;
  max-width: 981px;
  margin: 0 auto;
}
.infoandbutton .tour1title {
  font-family: ProximaNova;
  font-size: 60px;
  font-weight: normal;
  position: relative;
  display: inline;
}
.infoandbutton .tour1title .bannertest {
  border-bottom: 2px solid black;
  width: 70%;
  position: absolute;
  left: 0;
  bottom: -2px;
}
.infoandbutton p {
  font-family: GillSans;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 1.8px;
  margin-bottom: 90px;
  margin-top: 40px;
}

@media (max-width: 930px) {
  .tour9row {
    flex-wrap: wrap;
  }

  .tour9row div {
    width: 150px;
    margin: 0 auto 40px auto;
  }
}
.specialcontent {
  min-height: 810px;
  max-width: 980px;
  margin: 0 auto;
}
.specialcontent h2 {
  font-family: ProximaNova;
  color: #FF7D38;
  margin-left: 20px;
  font-size: 20px;
  margin-top: 10px;
  white-space: nowrap;
}
.specialcontent .specialheader {
  font-family: ProximaNova;
  font-size: 40px;
  letter-spacing: 4.5px;
  font-weight: normal;
  display: inline;
  position: relative;
}
.specialcontent .specialheader .specialbanner {
  border-bottom: 2px solid black;
  width: 60%;
  position: absolute;
  left: 0;
  bottom: -10px;
}
.specialcontent .spainsection {
  max-width: 680px;
  min-height: 290px;
  margin-top: 54px;
  margin-bottom: 65px;
  display: flex;
}
.specialcontent .spainsection .spainimage {
  min-width: 200px;
  height: 290px;
  background-image: url(../images/special-offer-01.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.specialcontent .spainsection .spainheader h1 {
  height: 40px;
  font-family: ProximaNova;
  font-size: 40px;
  letter-spacing: 4.5px;
  font-weight: normal;
  display: inline;
  position: relative;
  white-space: nowrap;
  margin-left: 20px;
}
.specialcontent .spainsection .spainheader h1 .specialbanner {
  border-bottom: 2px solid black;
  width: 55%;
  position: absolute;
  left: 0;
  top: 50px;
}
.specialcontent .spainsection .spaininfo {
  width: 290px;
  height: 130px;
  font-family: GillSans;
  font-size: 16px;
  font-weight: lighter;
  letter-spacing: 1.6px;
  margin-left: 20px;
  margin-top: 22px;
}
.specialcontent .spainsection .learnbutton {
  width: 133px;
  height: 40px;
  background-color: #79ADDC;
  font-family: GillSansReg;
  color: white;
  padding: 10px 0;
  border-radius: 20px;
  text-align: center;
  margin-left: 20px;
  margin-top: 48px;
}
.specialcontent .thailandsection {
  max-width: 680px;
  min-height: 290px;
  margin-top: 36px;
  display: flex;
  margin-bottom: 65px;
}
.specialcontent .thailandsection .thailandimage {
  min-width: 200px;
  height: 290px;
  background-image: url(../images/special-offer-02.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.specialcontent .thailandsection .spainheader h1 {
  height: 40px;
  font-family: ProximaNova;
  font-size: 40px;
  letter-spacing: 4.5px;
  font-weight: normal;
  display: inline;
  position: relative;
  white-space: nowrap;
  margin-left: 20px;
}
.specialcontent .thailandsection .spainheader h1 .specialbanner {
  border-bottom: 2px solid black;
  width: 55%;
  position: absolute;
  left: 0;
  top: 50px;
}
.specialcontent .thailandsection .spaininfo {
  width: 290px;
  height: 130px;
  font-family: GillSans;
  font-size: 16px;
  font-weight: lighter;
  letter-spacing: 1.6px;
  margin-left: 20px;
  margin-top: 22px;
}
.specialcontent .thailandsection .learnbutton {
  width: 133px;
  height: 40px;
  background-color: #79ADDC;
  font-family: GillSansReg;
  color: white;
  padding: 10px 0;
  border-radius: 20px;
  text-align: center;
  margin-left: 20px;
  margin-top: 48px;
}

@media (max-width: 700px) {
  .specialcontent .specialheader {
    margin-left: 20px;
  }
  .specialcontent .spainsection {
    flex-wrap: wrap;
  }
  .specialcontent .spainsection .spainimage {
    margin-bottom: 20px;
    margin-left: 20px;
  }
  .specialcontent .thailandsection {
    flex-wrap: wrap;
  }
  .specialcontent .thailandsection .thailandimage {
    margin-bottom: 20px;
    margin-left: 20px;
  }
}
.blogsection {
  min-height: 980px;
  max-width: 980px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.blogsection .blogheader {
  font-family: ProximaNova;
  font-size: 40px;
  letter-spacing: 5.5px;
  font-weight: normal;
  display: inline;
  position: relative;
}
.blogsection .blogheader .blogbanner {
  border-bottom: 2px solid black;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -10px;
}
.blogsection .blog1 {
  min-height: 259px;
  max-width: 980px;
  display: flex;
  margin-bottom: 25px;
  margin-top: 50px;
}
.blogsection .blog1 .blogdate {
  height: 60px;
  min-width: 60px;
  background-color: #79ADDC;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.blogsection .blog1 .blogdate .date1 {
  font-family: GillSansReg;
  color: white;
  font-size: 22px;
  font-weight: bold;
}
.blogsection .blog1 .blogdate .date2 {
  font-family: GillSansReg;
  font-size: 12px;
  font-weight: lighter;
  color: white;
}
.blogsection .blog1 .blogimage {
  height: 259px;
  width: 980px;
  background-image: url(../images/blog.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 30px;
  margin-left: 80px;
}
.blogsection .blog2 {
  min-height: 259px;
  max-width: 980px;
  display: flex;
  margin-bottom: 25px;
}
.blogsection .blog2 .blogdate {
  height: 60px;
  min-width: 60px;
  background-color: #79ADDC;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.blogsection .blog2 .blogdate .date1 {
  font-family: GillSansReg;
  color: white;
  font-size: 22px;
  font-weight: bold;
}
.blogsection .blog2 .blogdate .date2 {
  font-family: GillSansReg;
  font-size: 12px;
  font-weight: lighter;
  color: white;
}
.blogsection .blog2 .blogimage {
  height: 259px;
  width: 980px;
  background-image: url(../images/blog.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 30px;
  margin-left: 80px;
}
.blogsection .blogtoptext {
  font-family: GillSans;
  font-size: 15px;
  margin-bottom: 20px;
  margin-left: 140px;
}
.blogsection .blogbottomtext {
  font-family: GillSansReg;
  max-width: 380px;
  font-size: 13px;
  color: #79ADDC;
  margin-left: 140px;
}
.blogsection .blankspacebaby {
  height: 100px;
}

@media (max-width: 1000px) {
  .blogsection {
    padding: 0 20px;
  }
}
.contactsection {
  min-height: 750px;
  max-width: 980px;
  margin: 0 auto;
  display: flex;
}
.contactsection .mapleftcolumn .contactheader {
  font-family: ProximaNova;
  font-size: 30px;
  letter-spacing: 4.5px;
  position: relative;
  display: inline;
}
.contactsection .mapleftcolumn .contactheader .contactbanner {
  border-bottom: 2px solid black;
  width: 68%;
  position: absolute;
  left: 0;
  top: 35px;
}
.contactsection .mapleftcolumn .mapimage {
  width: 400px;
  height: 442px;
  background-image: url(../images/GoogleMap.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 40px;
}
.contactsection .mapleftcolumn .mapundertext {
  max-width: 400px;
  font-family: GillSans;
  font-size: 18px;
  margin-top: 35px;
  font-weight: lighter;
}
.contactsection .maprightcolumn {
  margin-left: 50px;
  max-width: 530px;
  margin-top: 70px;
}
.contactsection .maprightcolumn input {
  width: 100%;
  height: 60px;
  background-color: #F5F5F5;
  color: rgba(0, 0, 0, 0.5);
  padding: 0 10px;
  outline: none;
  border: none;
  margin-bottom: 21px;
}
.contactsection .maprightcolumn .tallboi input {
  height: 200px;
  padding-bottom: 140px;
  box-sizing: border-box;
}
.contactsection .maprightcolumn .contactbutton {
  height: 60px;
  width: 170px;
  background-color: #79ADDC;
  font-family: GillSansReg;
  color: white;
  text-align: center;
  padding: 21px;
  font-size: 16px;
  margin-bottom: 20px;
}

@media (max-width: 850px) {
  .contactsection {
    flex-wrap: wrap;
  }
  .contactsection .mapleftcolumn {
    padding: 10px 40px;
  }
}