*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    //border: 2px solid red;
}

html, body {
    height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 16px;
}

@font-face {
    font-family: GillSansReg;
    src: url(fonts/GillSans.ttf);
}

@font-face {
    font-family: ProximaNova;
    src: url(fonts/ProximaNova.ttf);
}


/*Add any fonts on this structure page. Refer to previous projects on how to do this.*/

